* {
  background-color: #CEDEFF;
  font-family: Poppins;
  color: #0C0950
}

.parentContainer {
  display: grid;
  grid-template-columns: 25px 1fr 1fr 25px;
  grid-template-rows: 110px 20px 250px 20px 1fr;
  margin: 0;
  padding: 0;
}

/*     */
/* Top */
/*     */

.logoContainer {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;  
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bolder;
}

.user {
  display: grid;
  grid-area: 1 / 3 / 2 / 4;
  align-items: center;
  justify-content: end;
}

.userIcon {
    width: 30px;
    height: 30px;
}


/*          */
/* Location */
/*          */

.currentLocationContainer {
  place-items: center;
  line-height: 0;
}

.location {
  font-size: 25px;
  margin-bottom: 0;
}

.degrees {
  font-size: 60px;
}

/*          */
/* Search   */
/*          */

.searchContainer {
  display: grid;
  grid-area: 3 / 2 / 4 / 4;
  place-items: center;
  line-height: 0;
}

.searchInput {
  width: 270px;
  border-style: none;
  border-bottom: #4E71FF solid 1px;
  text-align: center;
}

.searchInput::placeholder {
  color: #0C0950;
}

.searchButton {
  width: 140px;
  height: 43px;
  border-radius: 20px;
  border-style: none;
  color: #EAEFEF;
  background-color: #4E71FF;
}

/*           */
/* Weather   */
/*           */

.weatherContainer {
  display: grid;
  grid-area: 8 / 2 / 9 / 4;   
}

.weatherPhoto {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 320px) {
  .parentContainer {
  grid-template-columns: 25px 1fr 1fr 25px;
  grid-template-rows: 50px 20px 250px 20px 1fr;
  }

  .location {
    font-size: 18px;
  }

  .degrees {
    font-size: 50px;
  }

  .searchButton {
    width: 120px;
    height: 30px;
    font-size: 12px;
  }
}